.App{
    border: 1px solid rgb(145, 83, 93);
    padding: 30px;
    margin: 50px 30px;
    background-color:rgb(255, 0, 128);
    
}

/* App.css */

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#db8888; /* Change this to your desired background color */
  /* Or use a background image */
  /* background-image: url('path/to/your/image.jpg'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.App {
  min-height: 100%;
}


.to-do-container {
    display: flex;
    flex-direction: column;
    
}

.to-do-container ul li {
width: 170px;
overflow-wrap: break-word;
list-style-type: " 👉 ";
cursor: pointer;
}

.done {

    text-decoration:line-through;
}



.input {
 background-color: aqua;
  color: rgb(0, 0, 0);
}

.زرار {
  background-color: rgb(216, 129, 171);
  color: rgb(12, 37, 119);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  width: min-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
font-size: xx-large;
font-weight: bolder;
}